<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{productEditForm.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div th:fragment="core">
        <!-- Dependencies -->
        <div th:replace="popups/unit :: core"></div>
        <!-- Modal -->
        <div class="modal fade" id="newProductModal" tabindex="-1" role="dialog"
             aria-labelledby="newProductLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="productEditFormContent">
                </div>
            </div>
        </div>

        <script type="application/javascript" th:inline="javascript">
            // <![CDATA[
            var openProductEditPopup;
            var openNewProductPopup;

            +function ($) {
                var frameUrl = /*[[@{/product-edit-popup/}]]*/ '#';

                var $modal = $("#newProductModal");
                openProductEditPopup = function (productId, callback) {

                    $modal.modal("toggle");
                    $modal.on('hide.bs.modal', function() {
                        if (callback) {
                            callback();
                        }
                    });
                    $modal.find("#productEditFormContent").load(frameUrl+productId);
                };

                openNewProductPopup = function (callback) {
                    openProductEditPopup("",callback);
                };
            }(jQuery);
            // ]]>
        </script>
    </div>

    <div th:fragment="productEditForm" id="productEditForm" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title"
                th:text="${productEditForm.editForm} ? #{productEditForm.title.edit} : #{productEditForm.title.create}">
                Add new product
            </h4>
        </div>

        <form class="form-horizontal" role="form" action="#" method="post"
              th:action="@{/product-edit-popup}"
              th:object="${productEditForm}">

            <input type="hidden" th:field="*{productId}"/>

            <div class="modal-body">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('name')}?' has-error'">
                    <label for="name" class="control-label col-sm-2"
                           th:text="#{productEditForm.name}">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control col-sm-8" placeholder="Name" id="name"
                               th:field="*{name}" th:placeholder="#{productEditForm.name}"/>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">Validation errors</span>
                    </div>
                </div>


                <div th:attrappend="class=${#fields.hasErrors('selectedUnitId')}?' has-error'"
                         class="dropdown form-group">
                    <label for="description" class="control-label col-sm-2"
                           th:text="#{productEditForm.selectedUnitId}">Vienetas</label>

                    <div class="col-sm-8" th:if="${!units.isEmpty()}" >
                        <select class="form-control col-sm-6" th:field="*{selectedUnitId}" id="selectUnitInput">
                            <th:block th:fragment="selectUnitForm">
                                <option value="5"
                                        th:each="unit : ${units}"
                                        th:value="${unit.id}"
                                        th:text="${unit.name}">Vienetas
                                </option>
                            </th:block>
                        </select>

                    </div>
                    <div class="col-sm-2">
                        <button class="btn-default btn"
                                type="button"
                                id="newUnitButton"
                                th:title="#{units-list.add_unit}"
                                data-tooltip="true" data-placement="bottom"
                                title="Tooltip on bottom">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>

                        <script type="application/javascript" th:inline="javascript">
                            // <![CDATA[
                            +function ($) {
                                var frameUrl = /*[[@{/product-edit-popup/getSelectUnitForm}]]*/ '#';
                                $('#newUnitButton').click(function() {
                                    openNewUnitPopup(function () {
                                        $('#selectUnitInput').load(frameUrl);
                                    });
                                });
                            }(jQuery);
                            // ]]>
                        </script>
                    </div>
                </div>

                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('description')}?' has-error'">
                    <label for="description" class="control-label col-sm-2"
                           th:text="#{productEditForm.description}">description</label>

                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" placeholder="Description" id="description"
                                  th:field="*{description}" th:placeholder="#{productEditForm.description}">
                        </textarea>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('description')}"
                              th:errors="*{description}">Validation errors</span>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{productEditForm.close}">Close</button>
                <button type="button" class="btn btn-primary" id="newProductCreateButton" th:text="#{productEditForm.create}">Create</button>
            </div>

            <script type="application/javascript" th:inline="javascript">
                // <![CDATA[
                +function ($) {
                    var submitUrl = /*[[@{/product-edit-popup}]]*/ '#';
                    $("#newProductCreateButton").click(function () {
                        $("#productEditFormContent").load(submitUrl, $("#productEditForm form").serializeArray());
                    });
                }(jQuery);
                // ]]>
            </script>
        </form>
    </div>

    <hr/>

    <div th:fragment="productSavedForm" id="productSavedForm" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" th:text="${productEditForm.editForm} ? #{productEditForm.title.edit} : #{productEditForm.title.create}">Add new product</h4>
        </div>

        <div class="form-horizontal" role="form">

            <div class="modal-body">
                <div class="row">
                    <label for="name" class="col-sm-2"
                           th:text="#{productEditForm.name}">Name</label>

                    <div class="col-sm-10" th:text="${productEditForm.name}">ProductName</div>
                </div>

                <div class="row">
                    <label for="description" class="col-sm-2"
                           th:text="#{productEditForm.selectedUnitId}">selectedUnitId</label>

                    <div class="col-sm-10" th:text="${productEditForm.unitName}">selectedUnitId</div>
                </div>

                <div class="row">
                    <label for="description" class="col-sm-2"
                           th:text="#{productEditForm.description}">description</label>

                    <div class="col-sm-10" th:text="${productEditForm.description}">ProductAbbr</div>
                </div>

                <div class="row">
                    <span class="help-block text-center" th:text="#{productEditForm.successMsg}">Product saved successfully</span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="successCloseBtn"
                        data-dismiss="modal"
                        th:text="#{productEditForm.close}">Close</button>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Buttons to test popups -->
    <button class="btn-default btn" id="testBtn1"

            title="Tooltip on bottom">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Window 1</span>
    </button>
    <button class="btn-default btn" id="testBtn2"

            title="Tooltip on bottom">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Window 2</span>
    </button>
    <script type="application/javascript">
        +function ($) {
            var $modal = $("#newProductModal");
            var $modalBody = $modal.find("#productEditFormContent");

            $("#testBtn1").click(function () {
                $modalBody.empty();
                $modal.modal("toggle");
                $("#productEditForm").clone(true).appendTo($modalBody);
            });
            $("#testBtn2").click(function () {
                $modalBody.empty();
                $modal.modal("toggle");
                $("#productSavedForm").clone(true).appendTo($modalBody);
            });
        }(jQuery);
    </script>
</div>

<!-- Arrive.js -->
<script th:src="@{/js/arrive.min.js}" src="js/arrive.min.js" type="application/javascript"></script>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
</body>
</html>