@media (max-width: 992px) {
    body {
        padding-top: 160px;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 60px;
    }
}


.inpt {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cstm-navbar {
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.navbar-logo {
    order: 1;
    flex-grow: 0;
    flex-basis: auto;
    padding-right: 16px;
    align-self: auto;
}

.navbar-search {
    order: 2;
    flex-grow: 1;
    flex-basis: auto;
    align-self: auto;
}

.navbar-menu {
    order: 3;
    flex-grow: 0;
    flex-basis: auto;
    padding-left: 16px;
    align-self: auto;
}

.navbarImage {
     width: 26px;
     height: 26px;
     margin: 3px 9px;
 }

.btn-image {
    width: 20px;
    height: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.page-header {
    margin-top: 0px !important;
}

.small-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.linkImage {
    cursor: pointer;
}

.friends-notification {
    position: absolute;
    background-color: red;
    color: #ffffff;
    font-weight: bolder;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    left: 25px;
    top: 10px;
    font-size: 12px;
    border-radius: 20%;
}

.link {
    position: relative;
    left: 0px;
    right: 0px;
}