<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Reset password email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{resetPassword.email.greeting(${form.name}, ${form.surname}, ${form.username})}">
    Hello, Name Surname (username)!
</p>
<p th:text="#{resetPassword.email.message(${form.requestDate},${form.ipAddress},${form.username})}">
    Please click link:
</p>
<p>
    <a th:href="${form.resetUrl}" th:text="#{resetPassword.email.resetLink}">Press here</a>
</p>
<p th:text="#{resetPassword.email.resetLinkFallback(${form.resetUrl})}">
    Or copy this link: http://google.com
</p>
<p th:text="#{resetPassword.email.footer}">
    Regards, <br />
    <em>The Kupra Team</em>
</p>
</body>
</html>