<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{recipe-list.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="../../css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="../../css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Bootstrap Datetime Picker CSS -->
    <link th:href="@{/css/bootstrap-datetimepicker.css}" href="../../css/bootstrap-datetimepicker.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="../../css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>

<img th:src="@{/images/addlist_white.png}" src="../../images/addlist_white.png"
     class="linkImage"
     data-tooltip="true" data-placement="bottom" title="Tooltip on bottom"
     data-toggle="modal" data-target="#addToMenu" th:attr="data-recipeid=${rcp.recipeId}"
     th:title="#{recipe-list.addToMenu}"/>

<div class="modal fade" id="addToMenu" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Pvd</h4>
            </div>
            <div class="modal-body" th:fragment="modalBody">
                <form id="addToMenuForm">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="recipe_id" class="control-label col-md-2">Pavadinims</label>
                        <div class="col-md-10">
                            <input type="hidden" th:field="${newMenuItemForm.recipe_id}"/>
                            <input type="text" class="form-control" value="recepts" id="recipe_id"
                                    th:field="${newMenuItemForm.recipeName}" readonly="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="servings_qty" class="control-label col-md-2">Porc. sk.</label>
                        <div class="col-md-10">
                            <input class="form-control" type="number" min="1" value="1" id="servings_qty"
                                    th:field="${newMenuItemForm.servings}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datetime" class="control-label col-md-2">Data</label>
                        <div class="col-md-10">
                            <div class='input-group date' id='datetimepicker'>
                                <input type='text' class="form-control" id="datetime" name="date_time"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
                <script type="text/javascript" th:inline="javascript">
                    +function($){
                        $(document).ready(function() {
                            var datetimePicker = $('#datetimepicker');
                            var currentTime = /*[[${#dates.format(newMenuItemForm.date_time, 'yyyy-MM-dd HH:mm')}]]*/;      //TODO: nėra defaultinės reikšmės (Neveikia su new Date() )
                            datetimePicker.datetimepicker({
                                language: /*[[${shortLocale}]]*/ 'en',
                                defaultDate: moment(currentTime)
                            });
                            datetimePicker.data("DateTimePicker").setMinDate(currentTime);
                        });
                    }(jQuery);
                </script>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Clsoe</button>
                <button type="button" class="btn btn-primary">Sned mssaege</button>
            </div>
        </div>
    </div>
</div>



<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="../../js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="../../js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="../../lightbox/js/lightbox.min.js"
        type="text/javascript"></script>

<!-- Masonry javascript -->
<script th:src="@{/js/masonry.pkgd.min.js}" src="../../js/masonry.pkgd.min.js"></script>

<!-- Moment javascript -->
<script th:src="@{/js/moment.min.js}" src="../../js/moment.min.js"></script>
<script th:src="@{/js/lt.js}" src="../../js/lt.js"></script>

<!-- Bootstrap Datetime Picker javascript -->
<script th:src="@{/js/bootstrap-datetimepicker.min.js}" src="../../js/bootstrap-datetimepicker.min.js"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="../../js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->

</body>
</html>