<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{fridge.title}">KstPfr</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>

    <link th:href="@{/css/registration.css}" href="../../css/registration.css" rel="stylesheet"/>
    <link th:href="@{/css/kupra.css}" href="../../css/kupra.css" rel="stylesheet"/>

    <link th:href="@{/lightbox/css/lightbox.css}" href="../../lightbox/css/lightbox.css" rel="stylesheet"/>
    <link th:href="@{/css/gallery.css}" href="../../css/gallery.css" rel="stylesheet"/>
    <link th:href="@{/css/imgupload.css}" href="../../css/imgupload.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
    <!--<h1 th:text="${@pageHeader.testString}">Test</h1>-->
    <h2 th:text="#{fridge.title}">CP test</h2>


    <div class="row">
        <div th:if="!${#lists.isEmpty(fridgeItemsList.items)}">
            <div class="col-md-12" th:each="itm : ${fridgeItemsList.items}">

                    <div class="panel-body">
                        <span class="col-md-3" th:text="${itm.name}">Pvdn</span>
                        <span class="col-md-2">
                            <span th:text="${itm.amount}">Dscr</span>
                            <span th:text="${itm.unit}">Dscr</span>
                        </span>
                        <span class="form-group">
                            <button type="submit" th:attr="delete_id=${itm.itemId}"
                                    class="btn btn-default btn-lg remove-button"
                                    th:text="#{fridge.remove}">dlt
                            </button>
                        </span>
                    </div>

            </div>
        </div>
        <div th:if="${#lists.isEmpty(fridgeItemsList.items)}">
            <div class="col-md-12">
                <p th:text="#{fridge.noitems}">Nrė prdtu</p>
            </div>
        </div>
    </div>

    <form class="form-horizontal" role="form" action="#" method="post"
          th:action="@{/fridge}"
          id="fridgeAddItemForm"
          th:object="${fridgeAddItemForm}">

        <span class="modal-body  col-md-3">


            <div class="dropdown form-group">
                <div th:if="${!products.isEmpty()}">
                    <select class="form-control" th:field="*{selectedItemId}">
                        <option value="5"
                                th:each="product : ${products}"
                                th:value="${product.id}"
                                th:text="${product.name}">Vienetas
                        </option>
                    </select>

                </div>
            </div>

        </span>

        <span class="form-group col-md-1">
            <input type="text" class="form-control" placeholder="amount" id="amount"
                   th:field="*{amount}" th:placeholder="#{fridge.amount}"/>

        </span>


        <span class="form-group">
            <input type="hidden" name="action1" id="action1" value="add"/>
            <button type="submit" class="btn btn-default btn-lg"
                    th:text="#{fridge.addbtn}">Save
            </button>
        </span>



    </form>

</div>

<script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js" type="text/javascript"></script>
<script th:src="@{/lightbox/js/lightbox.min.js}" src="../../lightbox/js/lightbox.min.js" type="text/javascript"></script>
<script type="application/javascript" th:inline="javascript">


</script>
<div th:replace="layout :: footer"></div>

<script type="application/javascript" th:inline="javascript">
    // <![CDATA[
    +function ($) {
        var deleteUrl = /*[[@{/fridge/delete}]]*/ '#';
        $("#newProductCreateButton").click(function () {
            if (submitUrl != '#') {
                $("#newProductFormContent").load(submitUrl, $("#newProductForm").serializeArray());
            } else {
                $("#newProductFormContent").empty();
                $("#productSavedForm").clone(true).appendTo("#newProductFormContent");
            }
        });

        deleteCompletedHandler = function () {
            console.log('***********************************************');
            location.reload(true);
        }

        $('.remove-button').click(function (event) {
            console.log($(this).attr('delete_id'));
            formData = new FormData();
            formData.append('delete_id', $(this).attr('delete_id'));
            $.ajax({
                url: deleteUrl,
                type: 'POST',
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                headers: {'X-CSRF-TOKEN': _csrf},
                success: deleteCompletedHandler
            });
        });

        var imgUrl = /*[[@{/profile/uploadPhoto}]]*/ '#';
        var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';
        //  var _tmpId = /*[[${editProfileForm.tmpId}]]*/ 'tmp_id';

        imagesLoadedHandler = function (returndata) {
            //Init new list of images
            var newImgForm = $(returndata);
            //Replace old list of images with new one
            $("#profilePhotoForm").replaceWith(newImgForm);

            //Replace old upload button with new one to clear it
            var control = $("#uploadProfilePhoto");
            control.replaceWith( control = control.clone( true ) );
        };

        $('#uploadProfilePhoto').change(function () {
            var formData = new FormData();

            var files = $("#uploadProfilePhoto").prop('files');
            if (files.length > 0) {
                formData.append("profilePhoto", files[0]);
            }

            formData.append("tmpId", _tmpId);

            $.ajax({
                url: imgUrl,
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                headers: {'X-CSRF-TOKEN': _csrf},
                success: imagesLoadedHandler
            });

        });
    }(jQuery);
    // ]]>
</script>

</body>
</html>