<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{friendsListForm.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="../../css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="../../css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="../../css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js"
            type="application/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>

<div class="container">

    <!--<h1 th:text="${@pageHeader.testString}">Test</h1>-->
    <th:block th:fragment="friend-list-header(place)" th:with="place='friends'">

        <div class="page-header">
            <h1 th:text="#{friendsListForm.title}">This Doesn't Have TH:TEXT</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <a href="recipe-list.html" th:href="@{~/friends/list}"
                           class="btn" th:text="#{friendList.friends}"
                           th:classappend="${place=='friends'}?'btn-primary':'btn-default'">Vsii</a>
                        <a href="recipe-list.html" th:href="@{~/friends/notifications}"
                           class="btn" th:text="#{friendList.notifications}"
                           th:classappend="${place=='notifications'}?'btn-primary':'btn-default'">Mnao</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <div th:unless="${#lists.isEmpty(friendListForm.friendListUnits)}">
        <div class="row">
            <div class="col-md-6" th:each="unit : ${friendListForm.friendListUnits}">
                <div class="panel panel-default">
                    <div class="panel-body" id="Test_id">
                        <a th:href="@{'/user/'+${unit.userId}}">
                            <p th:text="${unit.name} + ' ' + ${unit.surname}"></p>
                            <input class="source_id" name="source_id" type="hidden" th:value="${unit.sourceId}"/>
                        </a>
                        <button type="button" th:text="#{friendsListForm.unfriend}"
                                class="btn btn-default btn-lg unfriend_button">
                            Nedraugauti
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(friendListForm.friendListUnits)}">
        <div class="row">
            <div class="col-md-12">
                <p th:text="#{friendsListForm.noFriends}">Tu Neturi Draugų</p>
            </div>
        </div>
    </div>

</div>

<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"
        type="application/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="../../js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="../../js/material.min.js"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="../../js/kupra.js" type="application/javascript"></script>

<!-- Custom JS -->
<script type="application/javascript" th:inline="javascript">

    +function ($) {
        var unfriendUrl = /*[[@{/friends/unfriend}]]*/ '#';
        var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';

        unfriendButtons = $('.unfriend_button');

        onSuccesCallback = function(){
            location.reload();
        }

        if (unfriendButtons != null){
            unfriendButtons.click(function (event){
                source_id = $(this).parent().find('input').val();

                $.ajax({
                    url: unfriendUrl,
                    type: 'POST',
                    data: {'source_id': source_id},
                    async: true,
                    cache: false,
                    headers: {'X-CSRF-TOKEN': _csrf},
                    success: onSuccesCallback
                });

            });
        }


    }(jQuery);
</script>

</body>
</html>