<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{friendsListForm.title}">Regtst</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>

    <link th:href="@{/css/registration.css}" href="../../css/registration.css" rel="stylesheet"/>

    <link th:href="@{/css/kupra.css}" href="../../css/kupra.css" rel="stylesheet"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>

<div class="container">

    <!--<h1 th:text="${@pageHeader.testString}">Test</h1>-->
    <th:block th:fragment="friend-list-header(place)" th:with="place='friends'">

        <div class="page-header">
            <h1 th:text="#{friendsListForm.title}">This Doesn't Have TH:TEXT</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <a href="recipe-list.html" th:href="@{~/friends/list}"
                           class="btn" th:text="#{friendList.friends}"
                           th:classappend="${place=='friends'}?'btn-primary':'btn-default'">Vsii</a>
                        <a href="recipe-list.html" th:href="@{~/friends/notifications}"
                           class="btn" th:text="#{friendList.notifications}"
                           th:classappend="${place=='notifications'}?'btn-primary':'btn-default'">Mnao</a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <div th:unless="${#lists.isEmpty(friendListForm.friendListUnits)}">
        <div class="row">
            <div class="col-md-6" th:each="user : ${friendListForm.friendListUnits}" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" th:action="@{~/friends/unfriend}" action="#" method="POST">
                            <a th:href="@{'/user/'+${user.userId}}">
                                <p th:text="${user.name} + ' ' + ${user.surname}"></p>
                                <input name="friendshipId" type="hidden" th:value="${user.friendshipId}"/>
                            </a>
                            <input name="denyAction" type="hidden" value="0"/>
                            <button type="submit" th:text="#{friendsListForm.unfriend}"
                                    class="btn btn-default btn-lg" >
                                Nedraugauti
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(friendListForm.friendListUnits)}">
        <div class="row">
            <div class="col-md-12">
              <p th:text="#{friendsListForm.noFriends}">Tu Neturi Draugų</p>
            </div>
        </div>
    </div>

</div>



<script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js" type="text/javascript"></script>
<script th:src="@{/js/friend_list.js}" src="../../js/friend_list.js" type="text/javascript"></script>
<script type="application/javascript" th:inline="javascript">

    +function($) {
        var submitUrl = /*[[@{/friends/unfriend}]]*/ '#';

        unfriendButtons = $('.btn-default');
        unfriend
        for(var button in unfriendButtons){
            button.click(function(event){
                friendshipId = button.parent.find("input").val();
                console.log(friendshipId);
                $.ajax({
                    url: submitUrl
                });
            });
        }


    }(jQuery);
</script>
<div th:replace="layout :: footer"></div>

</body>
</html>