<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{registration.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css"
          rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js"
            type="application/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:fragment="head">
    <!-- Search CSS -->
    <link th:href="@{/css/search.css}" href="css/search.css" rel="stylesheet"/>
    <!-- Typeahead -->
    <script th:src="@{/js/typeahead.bundle.js}" src="js/typeahead.bundle.js"
            type="application/javascript"></script>

    <script type="application/javascript" th:inline="javascript">
        +function ($) {
            var searchUrl = /*[[@{/search}]]*/ '#';
            var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';

            var searchAjax = function (query, cb) {
                $.ajax({
                    url: searchUrl,
                    type: 'GET',
                    data: {query: query},
                    async: false,
                    cache: false,
                    headers: {'X-CSRF-TOKEN': _csrf}
                }).done(function (data) {
                    cb($(data));
                });
            };

            $(document).ready(function () {
                $('#search-input').typeahead({
                    hint: false,
                    minLength: 1
                }, {
                    name: 'searchResults',
                    source: searchAjax,
                    templates: {
                        empty: undefined,
                        header: undefined,
                        footer: undefined,
                        suggestion: function (obj) {
                            return obj;
                        }
                    }
                });

                $('#mobile-search-input').typeahead({
                    hint: false,
                    minLength: 1
                }, {
                    name: 'searchResults',
                    source: searchAjax,
                    templates: {
                        empty: undefined,
                        header: undefined,
                        footer: undefined,
                        suggestion: function (obj) {
                            return obj;
                        }
                    }
                });
            });
        }(jQuery);
    </script>
</div>

<div th:fragment="searchField" class="navbar-search">
    <input id="search-input"
           type="text"
           class="form-control inpt typeahead"
           autocomplete="off"
           spellcheck="false"
           th:placeholder="#{layout.search}"
           placeholder="Psk..."
           style="color:  #ccc"/>
</div>

<div th:fragment="mobileSearchField">
    <input id="mobile-search-input"
           type="text"
           class="form-control inpt typeahead"
           autocomplete="off"
           spellcheck="false"
           th:placeholder="#{layout.search}"
           placeholder="Psk..."
           style="color:  #ccc"/>
</div>

<div th:fragment="searchResults" class="list-group">
    <th:block th:if="!${#lists.isEmpty(results.recipes)}">
        <h3 class="no-margin" style="color: #000000" th:text="#{layout.recipes}">Recept</h3>
        <div class="list-group-separator"></div>
    </th:block>
    <th:block th:each="recipe, iter : ${results.recipes}">
        <div class="list-group-item" th:if="${iter.count != 3}">
            <div class="row-picture">
                <a th:href="@{'/recipes/read/'+${recipe.recipeId}}">
                    <img th:if="${recipe.imageUrl != null}" th:src="${recipe.imageUrl}" src="http://lorempixel.com/200/200/" style="height: auto; max-width: 56px"/>
                    <img th:if="${recipe.imageUrl == null}" th:src="@{/images/empty_recp_thumb.jpg}" src="http://lorempixel.com/200/200/" style="height: auto; max-width: 56px"/>
                </a>
            </div>
            <div class="row-content">
                <a th:href="@{'/recipes/read/'+${recipe.recipeId}}"><h4 th:text="${recipe.name}" class="list-group-item-heading">Tile with avatar</h4></a>
                <p th:text="${recipe.description}" class="list-group-item-text hidden-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dolor diam. Ut tempor, mi id scelerisque dignissim, ex nunc pharetra augue, non tristique est sem eu lectus. Sed pellentesque, tellus nec facilisis malesuada, nibh ex cursus mauris nullam.</p>
            </div>
        </div>
        <div class="list-group-item" th:if="${iter.count == 3}">
            <div class="row-content text-center"  style="min-height: 0">
                <a th:href="@{'/search/recipes/'+${results.query}}">
                    <p th:text="#{layout.showAllRecipes}" class="list-group-item-text">asdf</p>
                </a>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </th:block>
    <th:block th:if="!${#lists.isEmpty(results.persons)}">
        <h3 class="no-margin" style="color: #000000" th:text="#{layout.users}">Vart</h3>
        <div class="list-group-separator"></div>
    </th:block>
    <th:block th:each="person, iter : ${results.persons}">
        <div class="list-group-item" th:if="${iter.count != 3}">
            <div class="row-picture">
                <a th:href="@{'/user/'+${person.userId}}">
                    <img th:if="${person.imageUrl != null}" th:src="${person.imageUrl}" src="http://lorempixel.com/200/200/" style="height: auto; max-width: 56px"/>
                    <img th:if="${person.imageUrl == null}" th:src="@{/images/empty_prof_thumb.jpg}" src="http://lorempixel.com/200/200/" style="height: auto; max-width: 56px"/>
                </a>
            </div>
            <div class="row-content">
                <a th:href="@{'/user/'+${person.userId}}"><h2 th:text="${person.name}" class="list-group-item-heading">Tile with avatar</h2></a>
                <!--<p th:text="${recipe.description}" class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac dolor diam. Ut tempor, mi id scelerisque dignissim, ex nunc pharetra augue, non tristique est sem eu lectus. Sed pellentesque, tellus nec facilisis malesuada, nibh ex cursus mauris nullam.</p>-->
            </div>
        </div>
        <div class="list-group-item" th:if="${iter.count == 3}">
            <div class="row-content text-center"  style="min-height: 0">
                <a th:href="@{'/search/users/'+${results.query}}">
                    <p th:text="#{layout.showAllUsers}" class="list-group-item-text">asdf</p>
                </a>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </th:block>
</div>

<!-- Arrive.js -->
<script th:src="@{/js/arrive.min.js}" src="js/arrive.min.js" type="application/javascript"></script>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"
        type="application/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="application/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>
</body>
</html>