<!DOCTYPE html>
<html>
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">KuPRA</title>
</head>
<body>
<div class="header">
    Header
</div>
<div class="container">
    <div layout:fragment="content">
        <h1>Static content for prototyping purposes only</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
</div>
<div class="footer">&copy; 2014 Komanda 30</div>
</body>
</html>