<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{loginForm.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>
    <style type="text/css">
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
        .hcenter {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js"
            type="application/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-navbar">
<div class="container-fluid center-block ">
    <div class="row center-block" style="max-width: 53em">
        <div class="col-xs-8 col-xs-offset-2">
            <img th:src="@{/images/kuprele.png}" src="images/kuprele.png"
                 data-toggle="tooltip" data-placement="bottom" class="img-responsive  centered-container"/>
            <h2 th:text="#{loginForm.title}">Prisijungti</h2>

            <div class="well">

                    <form role="form" action="#" method="post"
                          th:action="@{/login}"
                          th:object="${loginForm}">

                        <div class="row">
                            <div class="col-xs-12 form-group"
                                 th:attrappend="class=${#fields.hasErrors('username')}?' has-error'">
                                <input type="text" class="form-control floating-label" placeholder="Username" id="username"
                                       th:field="*{username}" th:placeholder="#{loginForm.username}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 form-group"
                                 th:attrappend="class=${#fields.hasErrors('password')}?' has-error'">
                                <input type="password" class="form-control floating-label" placeholder="Password" id="password"
                                       th:field="*{password}" th:placeholder="#{loginForm.password}"/>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
                                    Authentication error
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-7 col-xs-12 vcenter">
                                <span class="checkbox">
                                    <label>
                                        <input type="checkbox" th:field="*{rememberMe}"/>
                                        <th:block th:text="#{loginForm.rememberMe}">Remember me</th:block>
                                    </label>
                                </span>
                            </div><!--
                            --><div class="col-sm-5 col-xs-12 vcenter text-right">
                                    <a th:text="#{loginForm.forgotPassword}"
                                       th:href="@{/resetPassword}">Forgot your password?</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a th:href="@{/registration}">
                                    <button class="btn btn-default btn-raised btn-lg"
                                       th:text="#{loginForm.registrationButton}" type="button">
                                        Užsiregistruoti
                                    </button>
                                </a>
                                <button type="submit" class="btn btn-primary btn-raised btn-lg"
                                        th:text="#{loginForm.connectButton}">Prisijungti
                                </button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
</body>
</html>