<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{menu.title}">KstPfr</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="/css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="/css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Lightbox CSS -->
    <link th:href="@{/lightbox/css/lightbox.css}" href="/lightbox/css/lightbox.css" rel="stylesheet"/>
    <link th:href="@{/css/gallery.css}" href="/css/gallery.css" rel="stylesheet"/>
    <link th:href="@{/css/imgupload.css}" href="/css/imgupload.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="/css/kupra.css" rel="stylesheet"/>

    <!-- Custom page CSS -->
    <link th:href="@{/css/registration.css}" href="/css/registration.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="/js/jquery-1.11.1.min.js"
            type="application/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>
<div class="container">
    <div class="row">
        <!--<th:block th:fragment="recipe-list-header(place)" th:with="place='all'">-->
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-8">
                        <h1 th:text="#{menu.title}">CP test</h1>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn-default btn" id="newUnitButton" th:title="#{menu.find.products}"
                                data-tooltip="true" data-placement="bottom"
                                th:text="#{menu.find.products}"
                                title="Tooltip on bottom">
                            <!--dfghjkl-->
                            <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>-->
                        </button>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-3 panel-body panel" th:each="dayListItem : ${menuListForm.menuListDays}" >
            <div class="menu-day-header">
                <label th:text="${#calendars.format(dayListItem.day,'yyyy-MM-dd')}"></label>
            </div>
            <div class="menu-row"  th:each="meniuItem : ${dayListItem.menuListItems}">
                <span th:text="${#calendars.format(meniuItem.dateTime,'HH:mm')}"></span>
                <span th:text="${meniuItem.recipeName}"></span>
            </div>
        </div>
    </div>
</div>


<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"
        type="application/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="application/javascript"></script>

<!-- Custom JS -->
<script type="application/javascript" th:inline="javascript">
    // <![CDATA[
    +function ($) {

    }(jQuery);
    // ]]>
</script>

</body>
</html>