<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{newUnitForm.title}">Regtst</title>

    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div th:fragment="newUnitButton">
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" id="newUnitButton">
            Add new unit
        </button>

        <script type="application/javascript" th:inline="javascript">
            var frameUrl = /*[[@{/unit/add}]]*/ '#';

            +function ($) {
                $( "#newUnitButton" ).click( function() {
                    $( "#newUnitModal" ).modal( "toggle" );
                    if (frameUrl != '#') {
                        $("#newUnitFormContent").load(frameUrl);
                    } else {
                        $("#newUnitFormContent").empty();
                        $("#newUnitForm").clone(true).appendTo("#newUnitFormContent");
                    }
                });
            }(jQuery);
        </script>

        <!-- Modal -->
        <div class="modal fade" id="newUnitModal" tabindex="-1" role="dialog" aria-labelledby="newUnitLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="newUnitLabel" th:text="#{newUnitForm.title}">Add new unit</h4>
                    </div>
                    <div id="newUnitFormContent">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display:none" th:remove="all" id="templates">
        <form class="form-horizontal" role="form" action="#" method="post"
              th:action="@{/unit}"
              th:object="${newUnitForm}"
              th:fragment="newUnitForm"
              id="newUnitForm">

            <div class="modal-body">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('name')}?' has-error'">
                    <label for="name" class="control-label col-sm-2"
                           th:text="#{newUnitForm.name}">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control col-sm-8" placeholder="Name" id="name"
                               th:field="*{name}" th:placeholder="#{newUnitForm.name}"/>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">Validation errors</span>
                    </div>
                </div>

                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('abbreviation')}?' has-error'">
                    <label for="abbreviation" class="control-label col-sm-2"
                           th:text="#{newUnitForm.abbreviation}">Abbreviation</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Abbreviation" id="abbreviation"
                               th:field="*{abbreviation}" th:placeholder="#{newUnitForm.abbreviation}"/>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('abbreviation')}"
                              th:errors="*{abbreviation}">Validation errors</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="newUnitCreateButton">Create</button>
            </div>

            <script type="application/javascript" th:inline="javascript">
                var submitUrl = /*[[@{/unit/add}]]*/ '#';

                +function($) {
                    $("#newUnitCreateButton").click(function () {
                        if (submitUrl != '#') {
                            $("#newUnitFormContent").load(submitUrl, $("#newUnitForm").serializeArray());
                        } else {
                            $("#newUnitFormContent").empty();
                            $("#unitSavedForm").clone(true).appendTo("#newUnitFormContent");
                        }
                    });
                } (jQuery);
            </script>
        </form>

        <div class="form-horizontal" role="form"
              th:fragment="unitSavedForm"
              id="unitSavedForm">

            <div class="modal-body">
                <div class="row">
                    <label for="name" class="col-sm-2"
                           th:text="#{newUnitForm.name}">Name</label>
                    <div class="col-sm-10" th:text="${newUnitForm.name}">UnitName</div>
                </div>

                <div class="row">
                    <label for="abbreviation" class="col-sm-2"
                           th:text="#{newUnitForm.abbreviation}">Abbreviation</label>
                    <div class="col-sm-10" th:text="${newUnitForm.abbreviation}">UnitAbbr</div>
                </div>

                <div class="row">
                    <span class="help-block text-center" th:text="#{newUnitForm.successMsg}">Unit saved successfully</span>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>