<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{productList.title}">Regtst</title>

    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="popups/product :: core"></div>

<div class="container">
    <div class="row">

        <th:block th:fragment="recipe-list-header(place)" th:with="place='all'">
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-11">
                        <h1 th:text="#{productList.title}">CP test</h1>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn-default btn"
                                type="button"
                                id="newProductButton"
                                th:title="#{products-list.add_product}"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Tooltip on bottom">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>

                        <script type="application/javascript" th:inline="javascript">
                            +function ($) {
                                $("#newProductButton").click(function () {
                                    openNewProductPopup(function() {
                                        window.location.reload();
                                    });
                                });
                            }(jQuery);
                        </script>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <div class="row">
        <div class="col-md-6" th:each="product : ${products}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 th:text="${product.name}+' ('+${product.unit}+')'" class="small-title">Pvdn</h3>
                    <p th:text="${product.description}">Dscr</p>
                    <button class="btn-default btn productDeleteButton"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Delete"
                            th:classappend="${product.isUsed}? 'disabled'"
                            th:title="${product.isUsed}? #{products-list.used} : #{products-list.delete_if_not_used}"
                            th:attr="data-productid=${product.productId}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button class="btn-default btn productEditButton"
                            th:title="#{products-list.edit}"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Edit"
                            th:attr="data-productid=${product.productId}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(products)}">
            <div class="col-md-12">
                <p th:text="#{productsList.no_products}">Nėra rceptų</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/js//lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
<script type="application/javascript" th:inline="javascript">
    +function($){
        var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';
        var productDeleteUrl = /*[[@{/products/}]]*/ '#';

        $(".productDeleteButton").click(function(){
            productId = $(this).data('productid');
            $.ajax({
                url: productDeleteUrl + productId,
                type: 'DELETE',
                async: true,
                cache: false,
                headers: {'X-CSRF-TOKEN': _csrf}
            }).done(function(){
                location.reload();
            });
        });

        $(".productEditButton").click(function() {
            var productId = $(this).data('productid');
            openProductEditPopup(productId, function() {
                location.reload();
            });
        });
    }(jQuery);
</script>
</body>
</html>