<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{registration.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css"
          rel="stylesheet"/>

    <!-- Lightbox CSS -->
    <link th:href="@{/lightbox/css/lightbox.css}" href="lightbox/css/lightbox.css"
          rel="stylesheet"/>
    <link th:href="@{/css/gallery.css}" href="css/gallery.css" rel="stylesheet"/>
    <link th:href="@{/css/imgupload.css}" href="css/imgupload.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js"
            type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <!--<h1 th:text="${@pageHeader.testString}">Test</h1>-->
    <h2 th:text="#{registration.title}">Registration</h2>

    <span th:text="#{registration.success(${registrationForm.name},${registrationForm.surname}, ${registrationForm.username})}">Registration successful</span>
    <a th:text="#{registration.pressheretologin}" th:href="@{/login}" href="#">Press here to
        login</a>
</div>

<!-- Bootstrap javascript -->
<script th:src="bootstrap.min.js}" src="js/bootstrap.min.js"
        type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js"
        type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
</body>
</html>