<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{registration.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Lightbox CSS -->
    <link th:href="@{/lightbox/css/lightbox.css}" href="lightbox/css/lightbox.css" rel="stylesheet"/>
    <link th:href="@{/css/gallery.css}" href="css/gallery.css" rel="stylesheet"/>
    <link th:href="@{/css/imgupload.css}" href="css/imgupload.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <!--<h1 th:text="${@pageHeader.testString}">Test</h1>-->
    <h2 th:text="#{registration.title}">Registration</h2>

    <form class="registration-form well" role="form" action="#" method="post"
          th:action="@{/registration}"
          th:object="${registrationForm}">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('name')}?' has-error'">
                    <label for="name" class="control-label"
                           th:text="#{registration.name}">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="name"
                           th:field="*{name}" th:placeholder="#{registration.name}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">Validation errors</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('surname')}?' has-error'">
                    <label for="surname" class="control-label"
                           th:text="#{registration.surname}">Surname</label>
                    <input type="text" class="form-control" placeholder="Surname" id="surname"
                           th:field="*{surname}" th:placeholder="#{registration.surname}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('surname')}"
                          th:errors="*{surname}">Validation errors</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('username')}?' has-error'">
                    <label for="username" class="control-label"
                           th:text="#{registration.username}">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="username"
                           th:field="*{username}" th:placeholder="#{registration.username}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('username')}"
                          th:errors="*{username}">Validation errors</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('email')}?' has-error'">
                    <label for="email" class="control-label"
                           th:text="#{registration.email}">Email</label>
                    <input type="text" class="form-control" placeholder="Email" id="email"
                           th:field="*{email}" th:placeholder="#{registration.email}"/>
                    <span class="help-block"
                          th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}">Validation errors</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('password')}?' has-error'">
                    <label for="password" class="control-label"
                           th:text="#{registration.password}">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password"
                           th:field="*{password}" th:placeholder="#{registration.password}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}">Validation errors</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group"
                     th:attrappend="class=${#fields.hasErrors('passwordRepeat')}?' has-error'">
                    <label for="passwordRepeat" class="control-label"
                           th:text="#{registration.passwordRepeat}">Repeat password</label>
                    <input type="password" class="form-control" placeholder="Password" id="passwordRepeat"
                           th:field="*{passwordRepeat}" th:placeholder="#{registration.passwordRepeat}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('passwordRepeat')}"
                          th:errors="*{passwordRepeat}">Validation errors</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-lg"
                            th:text="#{registration.register}">Register
                    </button>
            </div>
            </div>
            <div class="col-sm-9">
            <div class="form-group">
                <a href="/login">
                <button type="button" class="btn btn-default btn-lg"
                        th:text="#{registration.atsaukti}">At6aukti
                </button>
                </a>
            </div>
        </div>
        </div>
    </form>
</div>

<!-- Bootstrap javascript -->
<script th:src="@{bootstrap.min.js}" src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
</body>
</html>