<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <base href="../../" th:remove="all"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{unitsList.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="popups/unit :: core"></div>

<div class="container">
    <div class="row">

        <th:block th:fragment="recipe-list-header(place)" th:with="place='all'">
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-11">
                        <h1 th:text="#{unitsList.title}">CP test</h1>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn-default btn" id="newUnitButton" th:title="#{units-list.add_unit}"
                                data-tooltip="true" data-placement="bottom"
                                title="Tooltip on bottom">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>

                        <script type="application/javascript" th:inline="javascript">
                            // <![CDATA[
                            +function ($) {
                                $('#newUnitButton').click(function() {
                                    openNewUnitPopup(function () {
                                        window.location.reload();
                                    });
                                });
                            }(jQuery);
                            // ]]>
                        </script>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <div class="row">
        <div class="col-md-6" th:each="unit : ${units}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 th:text="${unit.name}+' ('+ ${unit.abbreviation}+')'" class="small-title">
                        Pavadinimas vieneto (abbr)</h3>
                    <button class="btn-default btn unitDeleteButton"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Tooltip on bottom"
                            th:classappend="${unit.isUsed}? 'disabled'"
                            th:title="${unit.isUsed}? #{unit-list.used} : #{unit-list.delete_if_not_used}"
                            th:attr="data-unitid=${unit.id}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button class="btn-default btn unitEditButton"
                            th:title="#{unit-list.edit}"
                            data-toggle="tooltip" data-placement="bottom"
                            title="Tooltip on bottom"
                            th:classappend="${unit.isUsed}? 'disabled'"
                            th:attr="data-unitid=${unit.id}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(units)}">
            <div class="col-md-12">
                <p th:text="#{unitsList.no_units}">Nėra rceptų</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
<script type="application/javascript" th:inline="javascript">
    +function($){
        var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';

        unitDeleteUrl = /*[[@{/units/}]]*/ '#';
        $(".unitDeleteButton").click(function(){
            var unitId = $(this).data('unitid');
            $.ajax({
                url: unitDeleteUrl + unitId,
                type: 'DELETE',
                async: true,
                cache: false,
                headers: {'X-CSRF-TOKEN': _csrf}
            }).done(function(){
                location.reload();
            });
        });

        $(".unitEditButton").click(function() {
            var unitId = $(this).data('unitid');
            openUnitEditPopup(unitId, function() {
                window.location.reload();
            })
        });
    }(jQuery);
</script>
</body>
</html>