<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{unitsList.title}">Regtst</title>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material design CSS -->
    <link th:href="@{/css/ripples.min.css}" href="../../css/ripples.min.css" rel="stylesheet"/>
    <link th:href="@{/css/material-wfont.min.css}" href="../../css/material-wfont.min.css" rel="stylesheet"/>

    <!-- Kupra CSS -->
    <link th:href="@{/css/kupra.css}" href="../../css/kupra.css" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:replace="layout :: header"></div>

<div class="container">
    <div class="row">

        <th:block th:fragment="recipe-list-header(place)" th:with="place='all'">
            <div class="page-header">
                <div class="row">
                    <div class="col-xs-11">
                        <h1 th:text="#{unitsList.title}">CP test</h1>
                    </div>
                    <div class="col-xs-1">
                        <div th:replace="newUnit :: newUnitButton"></div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <div class="row">
        <div th:if="${!#lists.isEmpty(unitsListForm.unitListItemArrayList)}">
            <div class="col-md-6" th:each="unit : ${unitsListForm.unitListItemArrayList}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" th:value="${unit.id}"/>
                        <h3 th:text="${unit.name}+' ('+ ${unit.abbreviation}+')'" class="small-title">Pvdn</h3>
                        <button class="btn-default btn unitDeleteButton" id="newProductButton"
                                data-toggle="tooltip" data-placement="bottom"
                                title="Tooltip on bottom"
                                th:classappend="${unit.isUsed}? 'disabled'"
                                th:title="${unit.isUsed}? #{unit-list.used} : #{unit-list.delete_if_nor_used}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                        <button class="btn-default btn" id="newProductButton" th:title="#{unit-list.edit}"
                                data-toggle="tooltip" data-placement="bottom"
                                title="Tooltip on bottom">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(unitsListForm.unitListItemArrayList)}">
            <div class="col-md-12">
                <p th:text="#{unitsList.no_units}">Nrė rceptų</p>
            </div>
        </div>
    </div>

</div>

<div th:replace="layout :: footer"></div>

<!-- Bootstrap javascript -->
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js" type="text/javascript"></script>

<!-- Material design javascript -->
<script th:src="@{/js/ripples.min.js}" src="../../js/ripples.min.js"></script>
<script th:src="@{/js/material.min.js}" src="../../js/material.min.js"></script>

<!-- Lightbox javascript -->
<script th:src="@{/lightbox/js/lightbox.min.js}" src="../../lightbox/js/lightbox.min.js" type="text/javascript"></script>

<!--Kupra javascript-->
<script th:src="@{/js/kupra.js}" src="../../js/kupra.js" type="text/javascript"></script>

<!-- Custom JS -->
<script type="application/javascript" th:inline="javascript">
    +function($){
        var _csrf = /*[[${_csrf.token}]]*/ 'csrf_token';

        unitDeleteUrl = /*[[@{/unit/delete}]]*/ '#'
        unitDeleteButtons = $(".unitDeleteButton");

        if (unitDeleteButtons != null){
            unitDeleteButtons.click(function(){
                unitId = $(this).parent().find('input').val();
                console.log(unitId);
                $.ajax({
                    url: unitDeleteUrl,
                    type: 'POST',
                    data: {'unit_id': unitId},
                    asynch: true,
                    cache: false,
                    headers: {'X-CSRF-TOKEN': _csrf}
                }).done(function(){
                    location.reload();
                });

            });
        }
    }(jQuery);
</script>
</body>
</html>